## Challenge 1: Tuples

#### Do you know you can create tuples with only one element?

**In the cell below, define a variable `tup` with a single element `"I"`.**

In [16]:
tup=("I",)

#### Print the type of `tup`. 

Make sure its type is correct (i.e. *tuple* instead of *str*).

In [18]:
type(tup)

tuple

#### Now try to append the following elements to `tup`. 

Are you able to do it? Explain.

```
"r", "o", "n", "h", "a", "c", "k',
```

In [20]:
# you cant append elements to tup because it is immutable
tup.append("r", "o", "n", "h", "a", "c", "k",)

AttributeError: 'tuple' object has no attribute 'append'

#### How about re-assign a new value to an existing tuple?

Re-assign the following elements to `tup`. Are you able to do it? Explain.

```
"I", "r", "o", "n", "h", "a", "c", "k"
```

In [9]:
tup=("I", "r", "o", "n", "h", "a", "c", "k")
tup

('I', 'r', 'o', 'n', 'h', 'a', 'c', 'k')

#### Split `tup` into `tup1` and `tup2` with 4 elements in each. 

`tup1` should be `("I", "r", "o", "n")` and `tup2` should be `("h", "a", "c", "k")`.

*Hint: use positive index numbers for `tup1` assignment and use negative index numbers for `tup2` assignment. Positive index numbers count from the beginning whereas negative index numbers count from the end of the sequence.*

Also print `tup1` and `tup2`.

In [11]:
x=len(tup)
x
tup1=tup[:4]
tup2=tup[4:]
print(tup1)

print(tup2)

('I', 'r', 'o', 'n')
('h', 'a', 'c', 'k')

#### Add `tup1` and `tup2` into `tup3` using the `+` operator.

Then print `tup3` and check if `tup3` equals to `tup`.

In [13]:
tup3=tup1+tup2
tup3

('I', 'r', 'o', 'n', 'h', 'a', 'c', 'k')

#### Count the number of elements in `tup1` and `tup2`. Then add the two counts together and check if the sum is the same as the number of elements in `tup3`.

In [15]:
len(tup3)==(len(tup1)+len(tup2))

True

#### What is the index number of `"h"` in `tup3`?

In [61]:
tup.index("h")

4

#### Now, use a FOR loop to check whether each letter in the following list is present in `tup3`:

```
letters = ["a", "b", "c", "d", "e"]
```

For each letter you check, print `True` if it is present in `tup3` otherwise print `False`.

*Hint: you only need to loop `letters`. You don't need to loop `tup3` because there is a Python operator `in` you can use. See [reference](https://stackoverflow.com/questions/17920147/how-to-check-if-a-tuple-contains-an-element-in-python).*

In [17]:
letters = ["a", "b", "c", "d", "e"]
for i in letters:
    if i in tup3:
        print("true")
    else:
        print("false")

true
false
true
false
false

In [31]:
tup3

('I', 'r', 'o', 'n', 'h', 'a', 'c', 'k')

#### How many times does each letter in `letters` appear in `tup3`?

Print out the number of occurrence of each letter.

In [29]:
cont1={}


for i in letters:
    if i in tup3:
        cont1[i]=cont1.get(i,0)+1
cont1

{'a': 1, 'c': 1}

## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` library.

In [65]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [114]:
sample_list_1=[]
for i in range(0,80,1):
    sample_list_1.append(random.sample(range(0,100),1))

sample_list_1

[[23],
 [25],
 [62],
 [98],
 [6],
 [79],
 [69],
 [31],
 [30],
 [49],
 [79],
 [49],
 [5],
 [85],
 [99],
 [73],
 [83],
 [47],
 [12],
 [59],
 [96],
 [82],
 [72],
 [77],
 [13],
 [30],
 [11],
 [35],
 [37],
 [69],
 [71],
 [52],
 [75],
 [32],
 [83],
 [32],
 [86],
 [0],
 [61],
 [86],
 [1],
 [87],
 [31],
 [54],
 [35],
 [22],
 [46],
 [35],
 [9],
 [44],
 [54],
 [20],
 [41],
 [66],
 [68],
 [6],
 [87],
 [85],
 [69],
 [33],
 [74],
 [20],
 [8],
 [95],
 [77],
 [97],
 [70],
 [49],
 [27],
 [51],
 [63],
 [1],
 [69],
 [59],
 [5],
 [44],
 [47],
 [30],
 [0],
 [18]]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [124]:
set1=set(tuple(value) for value in sample_list_1)
len(set1)
#no

54

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [136]:
sample_list_2=[]
for i in range(0,80,1):
    sample_list_2.append(random.sample(range(0,100),1))

sample_list_2

[[22],
 [51],
 [40],
 [56],
 [76],
 [40],
 [9],
 [17],
 [69],
 [18],
 [1],
 [97],
 [35],
 [69],
 [44],
 [91],
 [92],
 [23],
 [14],
 [6],
 [22],
 [83],
 [91],
 [99],
 [89],
 [2],
 [38],
 [94],
 [32],
 [97],
 [88],
 [65],
 [31],
 [87],
 [38],
 [81],
 [31],
 [88],
 [83],
 [75],
 [98],
 [78],
 [80],
 [36],
 [98],
 [54],
 [40],
 [37],
 [22],
 [43],
 [58],
 [65],
 [65],
 [87],
 [0],
 [29],
 [96],
 [41],
 [80],
 [30],
 [18],
 [15],
 [96],
 [37],
 [47],
 [2],
 [21],
 [81],
 [29],
 [66],
 [44],
 [64],
 [78],
 [83],
 [82],
 [50],
 [97],
 [95],
 [3],
 [54]]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [150]:
set2=set(tuple(value)for value in sample_list_2)
len(set2)

53

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [180]:
set3=set()

for elements in set1:
    if elements not in set2:
        set3.add(elements)

set3

{(5,),
 (8,),
 (11,),
 (12,),
 (13,),
 (20,),
 (25,),
 (27,),
 (33,),
 (46,),
 (49,),
 (52,),
 (59,),
 (61,),
 (62,),
 (63,),
 (68,),
 (70,),
 (71,),
 (72,),
 (73,),
 (74,),
 (77,),
 (79,),
 (85,),
 (86,)}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [182]:
set4=set()
cont=0
for elements in set2:
    if elements not in set1:
        set4.add(elements)
set4

{(2,),
 (3,),
 (14,),
 (15,),
 (17,),
 (21,),
 (29,),
 (36,),
 (38,),
 (40,),
 (43,),
 (50,),
 (56,),
 (58,),
 (64,),
 (65,),
 (76,),
 (78,),
 (80,),
 (81,),
 (88,),
 (89,),
 (91,),
 (92,),
 (94,)}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [186]:
set5=set()
for i in set1:
    if i in set2:
        set5.add(i)
set5

{(0,),
 (1,),
 (6,),
 (9,),
 (18,),
 (22,),
 (23,),
 (30,),
 (31,),
 (32,),
 (35,),
 (37,),
 (41,),
 (44,),
 (47,),
 (51,),
 (54,),
 (66,),
 (69,),
 (75,),
 (82,),
 (83,),
 (87,),
 (95,),
 (96,),
 (97,),
 (98,),
 (99,)}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [214]:
print(len(set1))
print(len(set2))
print(len(set3))
print(len(set4))
print(len(set5))

54
53
26
25
28

#### Create an empty set called `set6`.

In [196]:
set6=set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [206]:
set6.update(set3,set5)
set6

{(0,),
 (1,),
 (5,),
 (6,),
 (8,),
 (9,),
 (11,),
 (12,),
 (13,),
 (18,),
 (20,),
 (22,),
 (23,),
 (25,),
 (27,),
 (30,),
 (31,),
 (32,),
 (33,),
 (35,),
 (37,),
 (41,),
 (44,),
 (46,),
 (47,),
 (49,),
 (51,),
 (52,),
 (54,),
 (59,),
 (61,),
 (62,),
 (63,),
 (66,),
 (68,),
 (69,),
 (70,),
 (71,),
 (72,),
 (73,),
 (74,),
 (75,),
 (77,),
 (79,),
 (82,),
 (83,),
 (85,),
 (86,),
 (87,),
 (95,),
 (96,),
 (97,),
 (98,),
 (99,)}

#### Check if `set1` and `set6` are equal.

In [210]:
set1==set6

True

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [224]:
print(set2.issubset(set1))
print(set3.issubset(set1))

False
True

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [230]:
union=set3.union(set4,set5)
union=union.union(set1,set2)
union

{(0,),
 (1,),
 (2,),
 (3,),
 (5,),
 (6,),
 (8,),
 (9,),
 (11,),
 (12,),
 (13,),
 (14,),
 (15,),
 (17,),
 (18,),
 (20,),
 (21,),
 (22,),
 (23,),
 (25,),
 (27,),
 (29,),
 (30,),
 (31,),
 (32,),
 (33,),
 (35,),
 (36,),
 (37,),
 (38,),
 (40,),
 (41,),
 (43,),
 (44,),
 (46,),
 (47,),
 (49,),
 (50,),
 (51,),
 (52,),
 (54,),
 (56,),
 (58,),
 (59,),
 (61,),
 (62,),
 (63,),
 (64,),
 (65,),
 (66,),
 (68,),
 (69,),
 (70,),
 (71,),
 (72,),
 (73,),
 (74,),
 (75,),
 (76,),
 (77,),
 (78,),
 (79,),
 (80,),
 (81,),
 (82,),
 (83,),
 (85,),
 (86,),
 (87,),
 (88,),
 (89,),
 (91,),
 (92,),
 (94,),
 (95,),
 (96,),
 (97,),
 (98,),
 (99,)}

#### Using the `pop` method, remove the first element from `set1`.

In [240]:
print(set1)
set1.pop()

print(set1)

{(66,), (5,), (11,), (69,), (75,), (8,), (72,), (23,), (87,), (20,), (35,), (99,), (32,), (44,), (96,), (41,), (47,), (59,), (62,), (1,), (68,), (71,), (74,), (13,), (25,), (77,), (83,), (22,), (86,), (31,), (37,), (95,), (98,), (49,), (46,), (52,), (61,), (0,), (70,), (9,), (6,), (73,), (12,), (18,), (82,), (79,), (85,), (30,), (27,), (33,), (97,), (54,)}
{(5,), (11,), (69,), (75,), (8,), (72,), (23,), (87,), (20,), (35,), (99,), (32,), (44,), (96,), (41,), (47,), (59,), (62,), (1,), (68,), (71,), (74,), (13,), (25,), (77,), (83,), (22,), (86,), (31,), (37,), (95,), (98,), (49,), (46,), (52,), (61,), (0,), (70,), (9,), (6,), (73,), (12,), (18,), (82,), (79,), (85,), (30,), (27,), (33,), (97,), (54,)}

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [242]:
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
for i in list_to_remove:
    if i in set1:
        set1.remove(i)

set1

{(0,),
 (1,),
 (5,),
 (6,),
 (8,),
 (9,),
 (11,),
 (12,),
 (13,),
 (18,),
 (20,),
 (22,),
 (23,),
 (25,),
 (27,),
 (30,),
 (31,),
 (32,),
 (33,),
 (35,),
 (37,),
 (41,),
 (44,),
 (46,),
 (47,),
 (49,),
 (52,),
 (54,),
 (59,),
 (61,),
 (62,),
 (68,),
 (69,),
 (70,),
 (71,),
 (72,),
 (73,),
 (74,),
 (75,),
 (77,),
 (79,),
 (82,),
 (83,),
 (85,),
 (86,),
 (87,),
 (95,),
 (96,),
 (97,),
 (98,),
 (99,)}

## BONUS - Challenge 3: Dictionaries

In this challenge you will practice how to manipulate Python dictionaries. Before starting on this challenge, you are encouraged to review W3School's [Python Dictionary Examples and Methods](https://www.w3schools.com/python/python_dictionaries.asp).

First thing you will practice is how to sort the keys in a dictionary. Unlike the list object, Python dictionary does not have a built-in *sort* method. You'll need to use FOR loops to to sort dictionaries either by key or by value.

The dictionary below is a summary of the word frequency of Ed Sheeran's song *Shape of You*. Each key is a word in the lyrics and the value is the number of times that word appears in the lyrics.

In [259]:
word_freq = {'love': 25, 'conversation': 1, 'every': 6, "we're": 1, 'plate': 1, 'sour': 1, 'jukebox': 1, 'now': 11, 'taxi': 1, 'fast': 1, 'bag': 1, 'man': 1, 'push': 3, 'baby': 14, 'going': 1, 'you': 16, "don't": 2, 'one': 1, 'mind': 2, 'backseat': 1, 'friends': 1, 'then': 3, 'know': 2, 'take': 1, 'play': 1, 'okay': 1, 'so': 2, 'begin': 1, 'start': 2, 'over': 1, 'body': 17, 'boy': 2, 'just': 1, 'we': 7, 'are': 1, 'girl': 2, 'tell': 1, 'singing': 2, 'drinking': 1, 'put': 3, 'our': 1, 'where': 1, "i'll": 1, 'all': 1, "isn't": 1, 'make': 1, 'lover': 1, 'get': 1, 'radio': 1, 'give': 1, "i'm": 23, 'like': 10, 'can': 1, 'doing': 2, 'with': 22, 'club': 1, 'come': 37, 'it': 1, 'somebody': 2, 'handmade': 2, 'out': 1, 'new': 6, 'room': 3, 'chance': 1, 'follow': 6, 'in': 27, 'may': 2, 'brand': 6, 'that': 2, 'magnet': 3, 'up': 3, 'first': 1, 'and': 23, 'pull': 3, 'of': 6, 'table': 1, 'much': 2, 'last': 3, 'i': 6, 'thrifty': 1, 'grab': 2, 'was': 2, 'driver': 1, 'slow': 1, 'dance': 1, 'the': 18, 'say': 2, 'trust': 1, 'family': 1, 'week': 1, 'date': 1, 'me': 10, 'do': 3, 'waist': 2, 'smell': 3, 'day': 6, 'although': 3, 'your': 21, 'leave': 1, 'want': 2, "let's": 2, 'lead': 6, 'at': 1, 'hand': 1, 'how': 1, 'talk': 4, 'not': 2, 'eat': 1, 'falling': 3, 'about': 1, 'story': 1, 'sweet': 1, 'best': 1, 'crazy': 2, 'let': 1, 'too': 5, 'van': 1, 'shots': 1, 'go': 2, 'to': 2, 'a': 8, 'my': 33, 'is': 5, 'place': 1, 'find': 1, 'shape': 6, 'on': 40, 'kiss': 1, 'were': 3, 'night': 3, 'heart': 3, 'for': 3, 'discovering': 6, 'something': 6, 'be': 16, 'bedsheets': 3, 'fill': 2, 'hours': 2, 'stop': 1, 'bar': 1}

#### Sort the keys of `word_freq` ascendingly.

Please create a new dictionary called `word_freq2` based on `word_freq` with the keys sorted ascedingly.

There are several ways to achieve that goal but many of the ways are beyond what we have covered so far in the course. There is one way that we'll describe employing what you have learned. Please feel free to use this way or any other way you want.

1. First extract the keys of `word_freq` and convert it to a list called `keys`.

1. Sort the `keys` list.

1. Create an empty dictionary `word_freq2`.

1. Use a FOR loop to iterate each value in `keys`. For each key iterated, find the corresponding value in `word_freq` and insert the key-value pair to `word_freq2`.

ðŸ“– [Documentation for a for loop](https://docs.python.org/3/reference/compound_stmts.html#for)

Print out `word_freq2` to examine its keys and values. Your output should be:

```python
{'a': 8, 'about': 1, 'all': 1, 'although': 3, 'and': 23, 'are': 1, 'at': 1, 'baby': 14, 'backseat': 1, 'bag': 1, 'bar': 1, 'be': 16, 'bedsheets': 3, 'begin': 1, 'best': 1, 'body': 17, 'boy': 2, 'brand': 6, 'can': 1, 'chance': 1, 'club': 1, 'come': 37, 'conversation': 1, 'crazy': 2, 'dance': 1, 'date': 1, 'day': 6, 'discovering': 6, 'do': 3, 'doing': 2, "don't": 2, 'drinking': 1, 'driver': 1, 'eat': 1, 'every': 6, 'falling': 3, 'family': 1, 'fast': 1, 'fill': 2, 'find': 1, 'first': 1, 'follow': 6, 'for': 3, 'friends': 1, 'get': 1, 'girl': 2, 'give': 1, 'go': 2, 'going': 1, 'grab': 2, 'hand': 1, 'handmade': 2, 'heart': 3, 'hours': 2, 'how': 1, 'i': 6, "i'll": 1, "i'm": 23, 'in': 27, 'is': 5, "isn't": 1, 'it': 1, 'jukebox': 1, 'just': 1, 'kiss': 1, 'know': 2, 'last': 3, 'lead': 6, 'leave': 1, 'let': 1, "let's": 2, 'like': 10, 'love': 25, 'lover': 1, 'magnet': 3, 'make': 1, 'man': 1, 'may': 2, 'me': 10, 'mind': 2, 'much': 2, 'my': 33, 'new': 6, 'night': 3, 'not': 2, 'now': 11, 'of': 6, 'okay': 1, 'on': 40, 'one': 1, 'our': 1, 'out': 1, 'over': 1, 'place': 1, 'plate': 1, 'play': 1, 'pull': 3, 'push': 3, 'put': 3, 'radio': 1, 'room': 3, 'say': 2, 'shape': 6, 'shots': 1, 'singing': 2, 'slow': 1, 'smell': 3, 'so': 2, 'somebody': 2, 'something': 6, 'sour': 1, 'start': 2, 'stop': 1, 'story': 1, 'sweet': 1, 'table': 1, 'take': 1, 'talk': 4, 'taxi': 1, 'tell': 1, 'that': 2, 'the': 18, 'then': 3, 'thrifty': 1, 'to': 2, 'too': 5, 'trust': 1, 'up': 3, 'van': 1, 'waist': 2, 'want': 2, 'was': 2, 'we': 7, "we're": 1, 'week': 1, 'were': 3, 'where': 1, 'with': 22, 'you': 16, 'your': 21}
```

In [273]:
keys=list(word_freq.keys())
keys.sort()
print (keys)
word_freq_2={}
for i in keys:
    if i in word_freq.keys():
        word_freq_2[i]=word_freq[i]
print(word_freq_2)

['a', 'about', 'all', 'although', 'and', 'are', 'at', 'baby', 'backseat', 'bag', 'bar', 'be', 'bedsheets', 'begin', 'best', 'body', 'boy', 'brand', 'can', 'chance', 'club', 'come', 'conversation', 'crazy', 'dance', 'date', 'day', 'discovering', 'do', 'doing', "don't", 'drinking', 'driver', 'eat', 'every', 'falling', 'family', 'fast', 'fill', 'find', 'first', 'follow', 'for', 'friends', 'get', 'girl', 'give', 'go', 'going', 'grab', 'hand', 'handmade', 'heart', 'hours', 'how', 'i', "i'll", "i'm", 'in', 'is', "isn't", 'it', 'jukebox', 'just', 'kiss', 'know', 'last', 'lead', 'leave', 'let', "let's", 'like', 'love', 'lover', 'magnet', 'make', 'man', 'may', 'me', 'mind', 'much', 'my', 'new', 'night', 'not', 'now', 'of', 'okay', 'on', 'one', 'our', 'out', 'over', 'place', 'plate', 'play', 'pull', 'push', 'put', 'radio', 'room', 'say', 'shape', 'shots', 'singing', 'slow', 'smell', 'so', 'somebody', 'something', 'sour', 'start', 'stop', 'story', 'sweet', 'table', 'take', 'talk', 'taxi', 'tell', 'that', 'the', 'then', 'thrifty', 'to', 'too', 'trust', 'up', 'van', 'waist', 'want', 'was', 'we', "we're", 'week', 'were', 'where', 'with', 'you', 'your']
{'a': 8, 'about': 1, 'all': 1, 'although': 3, 'and': 23, 'are': 1, 'at': 1, 'baby': 14, 'backseat': 1, 'bag': 1, 'bar': 1, 'be': 16, 'bedsheets': 3, 'begin': 1, 'best': 1, 'body': 17, 'boy': 2, 'brand': 6, 'can': 1, 'chance': 1, 'club': 1, 'come': 37, 'conversation': 1, 'crazy': 2, 'dance': 1, 'date': 1, 'day': 6, 'discovering': 6, 'do': 3, 'doing': 2, "don't": 2, 'drinking': 1, 'driver': 1, 'eat': 1, 'every': 6, 'falling': 3, 'family': 1, 'fast': 1, 'fill': 2, 'find': 1, 'first': 1, 'follow': 6, 'for': 3, 'friends': 1, 'get': 1, 'girl': 2, 'give': 1, 'go': 2, 'going': 1, 'grab': 2, 'hand': 1, 'handmade': 2, 'heart': 3, 'hours': 2, 'how': 1, 'i': 6, "i'll": 1, "i'm": 23, 'in': 27, 'is': 5, "isn't": 1, 'it': 1, 'jukebox': 1, 'just': 1, 'kiss': 1, 'know': 2, 'last': 3, 'lead': 6, 'leave': 1, 'let': 1, "let's": 2, 'like': 10, 'love': 25, 'lover': 1, 'magnet': 3, 'make': 1, 'man': 1, 'may': 2, 'me': 10, 'mind': 2, 'much': 2, 'my': 33, 'new': 6, 'night': 3, 'not': 2, 'now': 11, 'of': 6, 'okay': 1, 'on': 40, 'one': 1, 'our': 1, 'out': 1, 'over': 1, 'place': 1, 'plate': 1, 'play': 1, 'pull': 3, 'push': 3, 'put': 3, 'radio': 1, 'room': 3, 'say': 2, 'shape': 6, 'shots': 1, 'singing': 2, 'slow': 1, 'smell': 3, 'so': 2, 'somebody': 2, 'something': 6, 'sour': 1, 'start': 2, 'stop': 1, 'story': 1, 'sweet': 1, 'table': 1, 'take': 1, 'talk': 4, 'taxi': 1, 'tell': 1, 'that': 2, 'the': 18, 'then': 3, 'thrifty': 1, 'to': 2, 'too': 5, 'trust': 1, 'up': 3, 'van': 1, 'waist': 2, 'want': 2, 'was': 2, 'we': 7, "we're": 1, 'week': 1, 'were': 3, 'where': 1, 'with': 22, 'you': 16, 'your': 21}

#### Sort the values of `word_freq` ascendingly.

Sorting the values of a dictionary is more tricky than sorting the keys because a dictionary's values are not unique. Therefore you cannot use the same way you sorted dict keys to sort dict values.

The way to sort a dict by value is to utilize the `sorted` and `operator.itemgetter` functions. The following code snippet is provided to you to try. It will give you a list of tuples in which each tuple contains the key and value of a dict item. And the list is sorted based on the dict value ( [reference](http://thomas-cokelaer.info/blog/2017/12/how-to-sort-a-dictionary-by-values-in-python/)
).

```python
import operator
sorted_tups = sorted(word_freq.items(), key=operator.itemgetter(1))
print(sorted_tups)
```

Therefore, the steps to sort `word_freq` by value are:

* Using `sorted` and `operator.itemgetter`, obtain a list of tuples of the dict key-value pairs which is sorted on the value.

* Create an empty dictionary named `word_freq2`.

* Iterate the list of tuples. Insert each key-value pair into `word_freq2` as an object.

Print `word_freq2` to confirm your dictionary has its values sorted. Your output should be:

```python
{'conversation': 1, "we're": 1, 'plate': 1, 'sour': 1, 'jukebox': 1, 'taxi': 1, 'fast': 1, 'bag': 1, 'man': 1, 'going': 1, 'one': 1, 'backseat': 1, 'friends': 1, 'take': 1, 'play': 1, 'okay': 1, 'begin': 1, 'over': 1, 'just': 1, 'are': 1, 'tell': 1, 'drinking': 1, 'our': 1, 'where': 1, "i'll": 1, 'all': 1, "isn't": 1, 'make': 1, 'lover': 1, 'get': 1, 'radio': 1, 'give': 1, 'can': 1, 'club': 1, 'it': 1, 'out': 1, 'chance': 1, 'first': 1, 'table': 1, 'thrifty': 1, 'driver': 1, 'slow': 1, 'dance': 1, 'trust': 1, 'family': 1, 'week': 1, 'date': 1, 'leave': 1, 'at': 1, 'hand': 1, 'how': 1, 'eat': 1, 'about': 1, 'story': 1, 'sweet': 1, 'best': 1, 'let': 1, 'van': 1, 'shots': 1, 'place': 1, 'find': 1, 'kiss': 1, 'stop': 1, 'bar': 1, "don't": 2, 'mind': 2, 'know': 2, 'so': 2, 'start': 2, 'boy': 2, 'girl': 2, 'singing': 2, 'doing': 2, 'somebody': 2, 'handmade': 2, 'may': 2, 'that': 2, 'much': 2, 'grab': 2, 'was': 2, 'say': 2, 'waist': 2, 'want': 2, "let's": 2, 'not': 2, 'crazy': 2, 'go': 2, 'to': 2, 'fill': 2, 'hours': 2, 'push': 3, 'then': 3, 'put': 3, 'room': 3, 'magnet': 3, 'up': 3, 'pull': 3, 'last': 3, 'do': 3, 'smell': 3, 'although': 3, 'falling': 3, 'were': 3, 'night': 3, 'heart': 3, 'for': 3, 'bedsheets': 3, 'talk': 4, 'too': 5, 'is': 5, 'every': 6, 'new': 6, 'follow': 6, 'brand': 6, 'of': 6, 'i': 6, 'day': 6, 'lead': 6, 'shape': 6, 'discovering': 6, 'something': 6, 'we': 7, 'a': 8, 'like': 10, 'me': 10, 'now': 11, 'baby': 14, 'you': 16, 'be': 16, 'body': 17, 'the': 18, 'your': 21, 'with': 22, "i'm": 23, 'and': 23, 'love': 25, 'in': 27, 'my': 33, 'come': 37, 'on': 40}
```

In [278]:
import operator
sorted_tups = sorted(word_freq.items(), key=operator.itemgetter(1))
sorted_tups=sorted(sorted_tups,reverse=True)
print(sorted_tups)

[('your', 21), ('you', 16), ('with', 22), ('where', 1), ('were', 3), ('week', 1), ("we're", 1), ('we', 7), ('was', 2), ('want', 2), ('waist', 2), ('van', 1), ('up', 3), ('trust', 1), ('too', 5), ('to', 2), ('thrifty', 1), ('then', 3), ('the', 18), ('that', 2), ('tell', 1), ('taxi', 1), ('talk', 4), ('take', 1), ('table', 1), ('sweet', 1), ('story', 1), ('stop', 1), ('start', 2), ('sour', 1), ('something', 6), ('somebody', 2), ('so', 2), ('smell', 3), ('slow', 1), ('singing', 2), ('shots', 1), ('shape', 6), ('say', 2), ('room', 3), ('radio', 1), ('put', 3), ('push', 3), ('pull', 3), ('play', 1), ('plate', 1), ('place', 1), ('over', 1), ('out', 1), ('our', 1), ('one', 1), ('on', 40), ('okay', 1), ('of', 6), ('now', 11), ('not', 2), ('night', 3), ('new', 6), ('my', 33), ('much', 2), ('mind', 2), ('me', 10), ('may', 2), ('man', 1), ('make', 1), ('magnet', 3), ('lover', 1), ('love', 25), ('like', 10), ("let's", 2), ('let', 1), ('leave', 1), ('lead', 6), ('last', 3), ('know', 2), ('kiss', 1), ('just', 1), ('jukebox', 1), ('it', 1), ("isn't", 1), ('is', 5), ('in', 27), ("i'm", 23), ("i'll", 1), ('i', 6), ('how', 1), ('hours', 2), ('heart', 3), ('handmade', 2), ('hand', 1), ('grab', 2), ('going', 1), ('go', 2), ('give', 1), ('girl', 2), ('get', 1), ('friends', 1), ('for', 3), ('follow', 6), ('first', 1), ('find', 1), ('fill', 2), ('fast', 1), ('family', 1), ('falling', 3), ('every', 6), ('eat', 1), ('driver', 1), ('drinking', 1), ("don't", 2), ('doing', 2), ('do', 3), ('discovering', 6), ('day', 6), ('date', 1), ('dance', 1), ('crazy', 2), ('conversation', 1), ('come', 37), ('club', 1), ('chance', 1), ('can', 1), ('brand', 6), ('boy', 2), ('body', 17), ('best', 1), ('begin', 1), ('bedsheets', 3), ('be', 16), ('bar', 1), ('bag', 1), ('backseat', 1), ('baby', 14), ('at', 1), ('are', 1), ('and', 23), ('although', 3), ('all', 1), ('about', 1), ('a', 8)]